<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head.html :: head}"></head>

<body>
<!-- Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="brand-logo d-flex align-items-center justify-content-center">
                                <a th:href="@{/}" href="" class="text-nowrap logo-img"><img src="../assets/images/logos/logo.jpg"
                                                                                            width="80" alt=""></a>
                                <h2 style="margin-left: 10px">WALLT</h2>
                            </div>
                            <p class="text-center">Reset Password</p>
                            <form th:action="@{/auth/reset}" th:object="${password}" method="post">
                                <input type="hidden" name="token" th:value="${password.token}" />                                <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password</label>
                                <input type="password" th:field="*{password}" class="form-control" id="newPassword">
                                <span id="passwordError" class="text-danger"></span>
                            </div>
                                <div class="mb-3">
                                    <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                                    <input type="password" th:field="*{passwordConfirmation}" class="form-control" id="confirmNewPassword">
                                    <span id="passwordMatch" class="text-danger"></span>
                                </div>
                                <button type="submit" id="submitButton" class="btn btn-primary w-100 py-2 fs-4 mb-4 rounded-2" disabled>Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Disable submit button by default
    document.getElementById('submitButton').disabled = true;

    // Function to check if password meets the criteria
    function checkPassword() {
        var password = document.getElementById('newPassword').value;
        var passwordConfirmation = document.getElementById('confirmNewPassword').value;
        var passwordError = document.getElementById('passwordError');
        var passwordMatchSpan = document.getElementById('passwordMatch');
        var pattern = /^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*()-_=+]).{8,}$/;

        // Check if password matches the regex pattern
        if (!pattern.test(password)) {
            passwordError.innerText = 'Password must be at least 8 characters long and contain at least one capital letter, one digit, and one special symbol (+, -, *, &, ^, …)';
            passwordError.style.color = 'red';
        } else {
            passwordError.innerText = '';
        }

        // Check if password and confirmation match
        if (password === passwordConfirmation && pattern.test(password)) {
            passwordMatchSpan.innerText = 'Passwords match';
            passwordMatchSpan.style.color = 'green';
            // Enable submit button if both conditions are met
            document.getElementById('submitButton').disabled = false;
        } else {
            passwordMatchSpan.innerText = 'Passwords do not match';
            passwordMatchSpan.style.color = 'red';
            // Disable submit button if conditions are not met
            document.getElementById('submitButton').disabled = true;
        }
    }

    // Event listeners to trigger the function on input
    document.getElementById('newPassword').addEventListener('input', checkPassword);
    document.getElementById('confirmNewPassword').addEventListener('input', checkPassword);
</script>
</body>

</html>
