<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head.html :: head}"></head>

<body>
<!-- Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="brand-logo d-flex align-items-center justify-content-center">
                                <a th:href="@{/}" href="" class="text-nowrap logo-img"><img src="../assets/images/logos/logo.jpg"
                                                                                            width="80" alt=""></a>
                                <h2 style="margin-left: 10px">WALLT</h2>
                            </div>
                            <p class="text-center">Reset Password</p>
                            <form th:action="@{/auth/reset}" th:object="${password}" method="post">
                                <input type="hidden" name="token" th:value="${password.token}" />                                <div class="mb-3">
                                    <label for="newPassword" class="form-label">New Password</label>
                                    <input type="password" th:field="*{password}" class="form-control" id="newPassword">
                                </div>
                                <div class="mb-3">
                                    <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                                    <input type="password" th:field="*{passwordConfirmation}" class="form-control" id="confirmNewPassword">
                                </div>
                                <button type="submit" class="btn btn-primary w-100 py-2 fs-4 mb-4 rounded-2">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
