<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head.html :: head}"></head>
<body>
<table class="table">
    <tbody>
    <tr th:each="card : ${cards}">
        <th scope="row" th:text="${card.id}">1</th>
        <td><a href="#" th:href="@{/cards/{id}(id=${card.id})}" th:text="${card.number}">123456"</a></td>
        <td th:text="${#temporals.format(card.expirationDate, 'MM/yy')}">Pesho</td>

        <td th:text="${card.cvv}">Pesho</td>
        <td th:text="${card.holder.firstName}">Pesho</td>
        <td th:text="${card.holder.lastName}">Pesho</td>

    </tr>
    </tbody>
</table>
</body>
</html>