<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wallt App</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/logo.jpg">
  <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside th:replace="~{fragments/sidebar.html :: sidebar}"></aside>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <header th:replace="~{fragments/header.html :: inner-main-header}"></header>
    <!--  Header End -->
    <div class="container-fluid">
      <!--  Row 1 -->
      <div class="row">
        <div class="col-lg-8  flex-column align-items-stretch">
          <div class="card w-100">
            <div class="card-body">
              <h2 class="mb-15"> Exchange Smiles Across Currencies with Wallt.</h2>
              <ul class="list mb-15">
                <li style="list-style-type: disc"><h4> Send money effortlessly to your friends, using only a mobile
                  number.</h4></li>
                <li style="list-style-type: disc"><h4> Receive and send money in multiple currencies.</h4></li>
                <li style="list-style-type: disc"><h4> Get the best exchange rates for your currency.</h4></li>
                <li style="list-style-type: disc"><h4> Create separate wallets for your specific needs in a currency of
                  your choice.</h4></li>
                <li style="list-style-type: disc"><h4>Track your spending activities, all in one place.</h4></li>
              </ul>
              <div class="justify-content-start mt-auto">
                <a th:href="@{/auth/register}" class="btn btn-primary btn-lg mr-5">Register</a>
                <a th:href="@{/auth/login}" class="btn btn-primary btn-lg">Log in</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12">
              <!-- Yearly Breakup -->
              <div class="card overflow-hidden">
                <div class="card-body p-4">
                  <h5 class="card-title mb-9 fw-semibold">Funds Sent/Received(Demo)</h5>
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h4 class="fw-semibold mb-3"
                          th:text="'$'+${stats.get('totalSent')}+'/$'+${stats.get('totalReceived')}">$36,358</h4>
                      <!--                      <div class="d-flex align-items-center mb-3">-->
                      <!--                          <span class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">-->
                      <!--                            <i class="ti ti-arrow-up-left text-success"></i>-->
                      <!--                          </span>-->
                      <!--                        <p class="text-dark me-1 fs-3 mb-0">+9%</p>-->
                      <!--                        <p class="fs-3 mb-0">last year</p>-->
                      <!--                        </div>-->
                      <div class="d-flex align-items-center">
                        <div class="me-4">
                          <span class="round-8 rounded-circle me-2 d-inline-block"
                                style="background-color: #FAD10BEA"></span>
                          <span class="fs-2">Sent</span>
                        </div>
                        <div>
                          <span class="round-8 rounded-circle me-2 d-inline-block"
                                style="background-color: #68ff5d"></span>
                          <span class="fs-2">Received</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-center">
                        <div id="breakup"
                             th:attr="data-series='[' + ${stats.get('totalSent')} + ',' + ${stats.get('totalReceived')} + ']'"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <!-- Monthly Earnings -->
              <div class="card">
                <div class="card-body">
                  <div class="row alig n-items-start">
                    <div class="col-8">
                      <h5 class="card-title mb-9 fw-semibold"> Funds Deposited/Withdrawn </h5>
                      <h4 class="fw-semibold mb-3">$6,820</h4>
                      <div class="d-flex align-items-center pb-1">
                          <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                            <i class="ti ti-arrow-down-right text-danger"></i>
                          </span>
                        <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                        <p class="fs-3 mb-0">last year</p>
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-end">
                        <div class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                          <i class="ti ti-currency-dollar fs-6"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="earning"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-stretch">
          <div class="card w-100">
            <div class="card-body p-4">
              <h5 class="card-title fw-semibold mb-4">Recent Activity(Demo)</h5>
              <div class="table-responsive" style="max-height: 350px;overflow-y: auto;display: block;">
                <table class="table text-nowrap mb-0 align-middle">
                  <thead class="text-dark fs-4" style="position: sticky;top: 0;z-index: 100;background-color: white;">
                  <tr>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Wallet(ID)</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Description/TimeStamp</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Amount</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Currency</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Type</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Status</h6>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="activity : ${demoActivity}">
                    <td class="border-bottom-0"><h6 class="fw-semibold mb-0" th:text="${activity.walletId}">Wallet
                      1</h6></td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1" th:text="${activity.description}">Money sent to pesho</h6>
                      <span class="fw-normal" th:text="${#dates.format(activity.timestamp, 'dd.MM.yyyy HH:mm')}">07.03.2024 10:56</span>
                    </td>
                    <td class="border-bottom-0">
                      <p class="mb-0 fw-normal" th:text="${activity.amount}">-39</p>
                    </td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-0 fs-4" th:text="${activity.currencySymbol}">EUR</h6>
                    </td>
                    <td class="border-bottom-0">
                      <div class="d-flex align-items-center gap-2" th:switch="${activity.type}">
                        <span class="badge rounded-3 fw-semibold" th:case="'RECEIVED'" th:classappend="bg-success"
                              th:text="${activity.type}">RECEIVED</span>
                        <span class="badge rounded-3 fw-semibold" th:case="'SENT'"
                              th:classappend="bg-warning">SENT</span>
                        <span class="badge rounded-3 fw-semibold" th:case="'DEPOSIT'" th:classappend="bg-primary">DEPOSIT</span>
                        <span class="badge rounded-3 fw-semibold" th:case="'WITHDRAWAL'" th:classappend="bg-dark">WITHDRAWAL</span>
                      </div>

                    </td>
                    <td class="border-bottom-0">
                      <div class="d-flex align-items-center gap-2">
                        <span class="badge rounded-3 fw-semibold"
                              th:classappend="${activity.status.toString() == 'SUCCESSFUL'} ? 'bg-success' : 'bg-danger'"
                              th:text="${activity.status}">SUCCESSFUL</span>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:replace="~{fragments/footer.html :: footer}"></div>
    </div>
  </div>
</div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="../assets/js/dashboard.js"></script>
</body>

</html>