<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<div th:fragment="newCardModal" class="modal fade" id="createNewCardModal" tabindex="-1"
     aria-labelledby="createNewCardModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:object="${cardDto}" th:action="@{/cards}" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createNewCardModalLabel">Add a New Card</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label" for="CardNumber">Card Number</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="fa-regular fa-credit-card"></i></div>
                            <input type="text" class="form-control" id="CardNumber" placeholder="Enter Card Number"
                                   th:field="*{cardNumber}" minlength="16" maxlength="16" autofocus=""/>
                        </div>
                        <label class="form-error text-danger" th:errors="*{cardNumber}">CardNumber error
                            placeholder</label><br/>
                        <label for="Name">Cardholder Name</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="fa-regular fa-circle-user"></i></div>
                            <input type="text" class="form-control" id="Name" placeholder="Enter Cardholder Name"
                                   th:field="*{cardHolderName}"  minlength="2" maxlength="30" autofocus=""/>
                        </div>
                        <label class="form-error text-danger" th:errors="*{cardHolderName}">Cardholder error
                            placeholder</label><br/>
                        <div class="row align-items-start">
                            <div class="col-auto">
                                <label for="ExpirationMonth">Expiration Month</label>
                                <div class="input-group">
                                    <div class="input-group-text"><i class="fa-regular fa-calendar-days"></i></div>
                                    <input type="text" class="form-control" id="ExpirationMonth" placeholder="MM"
                                           th:field="*{expirationMonth}"  minlength="2" maxlength="2" autofocus=""/>
                                </div>
                                <label class="form-error text-danger" th:errors="*{expirationMonth}">ExpirationMonth
                                    error
                                    placeholder</label><br/>
                            </div>
                            <div class="col-auto">
                                <label for="ExpirationYear">Expiraton Year</label>
                                <input type="text" class="form-control" id="ExpirationYear" placeholder="YY"
                                       th:field="*{expirationYear}" minlength="2" maxlength="2" autofocus=""/>
                                <label class="form-error text-danger" th:errors="*{expirationYear}">ExpirationYear error
                                    placeholder</label><br/>
                            </div>
                        </div>
                        <label for="cvv">CVV</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
                            <input type="text" class="form-control" id="cvv" placeholder="CVV" th:field="*{cvv}"  minlength="3" maxlength="3"
                                   autofocus=""/>
                            <label class="form-error text-danger" th:errors="*{cvv}">CVV error placeholder</label><br/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/js/dashboard.js"></script>
<script src="https://kit.fontawesome.com/03af3564c7.js" crossorigin="anonymous"></script>
</body>
</html>