<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="~{fragments/head.html :: head}"></head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside th:replace="~{fragments/sidebar.html :: sidebar}"></aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
            <header th:replace="~{fragments/header.html :: inner-main-header}"></header>
        <!--  Header End -->
        <div class="container-fluid">
            <div class="d-flex pb-2">
                <div class="card col-4">
                    <img width="350" height="350" class="card-img-top rounded-3" th:src="@{${user.profilePictureURL != null ? user.profilePictureURL : '/assets/images/profile/user-1.jpg'}}" alt="Profile Picture">

                    <div class="card-body mb-10" th:style="text-align">
                        <h2 class="card-title" th:text="${user.username}">Username</h2>
                        <p th:text="'First Name: ' + ${user.firstName}">First Name: Pesho</p>
                        <p th:text="'Last Name: ' + ${user.lastName}">Last Name: Peshov</p>
                        <p th:text="'Email: ' + ${user.email}">Email: pesho@peshomail.com</p>
                        <p th:text="'Phone: ' + ${user.phone}">Phone: 0888123456</p>

                        <div>
                            <a href="#" data-bs-toggle="modal"
                               data-bs-target="#editProfileModal" class="btn btn-warning" style="height: 36px"><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                        </div>
                    </div>
                </div>

                    <div th:replace="~{userUpdateView :: editProfileModal}"></div>
                    <!-- New Card Modal -->
                    <div th:replace="~{newCard.html :: newCardModal}"></div>
                    <!-- New Wallet Modal -->
                    <div th:replace="~{newWallet.html :: newWalletModal}"></div>
                    <!-- New Deposit Modal -->
                    <div th:replace="~{deposit.html :: depositModal}"></div>
                    <!-- New Withdraw Modal -->
                    <div th:replace="~{withdraw.html :: withdrawalModal}"></div>
                <div class="row">
                    <div class="d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body p-4">
                                <h5 class="card-title fw-semibold mb-4">Cards</h5>
                                <div th:with="cards=${userCards}">
                                    <div th:replace="~{cardsTable.html :: cards-table}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <h5 class="card-title fw-semibold mb-4">Wallets</h5>
                            <div th:with="wallets=${userWallets}">
                                <div th:replace="~{walletsTable.html :: wallets-table}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/js/dashboard.js"></script>
<script src="https://kit.fontawesome.com/03af3564c7.js" crossorigin="anonymous"></script>
<script src="/assets/libs/dataTables/datatables.js"></script>
<script src="/assets/js/index.js"></script>
<script>
    $(document).ready(function () {
        let walletTable = $('#wallets-table').DataTable({
            paging: false,
            order: [1, 'desc']
        });
    });

    $(document).ready(function () {
        let cardsTable = $('#cards-table').DataTable({
            paging: false,
            scrollY: 500,
        });
    });
</script>

</body>

</html>
