<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="~{fragments/head.html :: head}"></head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-center">
                <a th:href="@{/}" href="" class="text-nowrap logo-img"><img src="../assets/images/logos/logo.jpg" width="80"
                                                                            alt=""></a>
                <h2 style="margin-left: 10px">WALLT</h2>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Home</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#" th:href="@{/home}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                    <li th:if="${isAdmin}" class="sidebar-item">
                        <a class="sidebar-link" href="#" th:href="@{/admin/users}" aria-expanded="false">
                <span>
                  <i class="ti ti-man"></i>
                </span>
                            <span class="hide-menu">Admin Panel</span>
                        </a>
                    </li>
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">ADMIN</span>
                    </li>
                    <li class="sidebar-item" th:if="${isAuthenticated and isAdmin}">
                        <a class="sidebar-link" href="#" th:href="@{/admin/users}" aria-expanded="false">
        <span>
            <i class="ti ti-login"></i>
        </span>
                            <span class="hide-menu">Users</span>
                        </a>
                    </li>
                    <li class="sidebar-item" th:if="${isAuthenticated and isAdmin}">
                        <a class="sidebar-link" href="#" th:href="@{/admin/transactions}" aria-expanded="false">
        <span>
                  <i class="ti ti-user-plus"></i>
        </span>
                            <span class="hide-menu">Transactions</span>
                        </a>
                    </li>

                    <!-- Button trigger modal -->

                    <!--            Admin panel buttons-->

                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header th:replace="~{fragments/header.html :: inner-main-header}"></header>
        <!--  Header End -->
        <div class="container-fluid">
            <h2>Users View</h2>
            <table class="table justify-content-start align-items-center" id="admin-table">
                                <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Action</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">ID</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Username</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Full Name</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Email</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Phone</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Address</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Verified</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">Roles</h6>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td class="border-bottom-0">
                                        <a th:href="@{/admin/user/{id}/block(id=${user.id})}"
                                           th:classappend="${user.blocked} ? 'btn-success' : 'btn-danger'"
                                           th:text="${user.blocked ? 'Unblock' : 'Block'}"
                                           class="btn" style="height: 36px">Block/Unblock</a>
                                    </td>
                                    <th scope="row" th:text="${user.id}">1</th>
                                    <td><a href="#" th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}">pesho"</a></td>
                                    <td th:text="${user.firstName}+' '+${user.middleName}+' '+${user.lastName}">Pesho
                                        Peshov Peshonkov
                                    </td>
                                    <td th:text="${user.email}">Email</td>
                                    <td th:text="${user.phone}">Email</td>
                                    <td th:text="${user.street}+' '+${user.number}+', '+${user.city}+', '+${user.country}">
                                        Email
                                    </td>
                                    <td>
                                        <span th:class="${user.verified} ? 'text-success' : 'text-danger'"
                                              th:utext="${user.verified} ? '<i class=&quot;fa-solid fa-check fa-xl&quot;></i>'
                                              : '<i class=&quot;fa-solid fa-x fa-xl&quot;></i>'"></span>
                                    </td>
                                    <td th:text="${user.roles}">USER</td>
                                </tr>
                                </tbody>
                            </table>


            <div th:replace="~{fragments/footer.html :: footer}"></div>
        </div>
    </div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="https://kit.fontawesome.com/03af3564c7.js" crossorigin="anonymous"></script>
<script src="/assets/libs/dataTables/datatables.js"></script>
<script src="../assets/js/index.js"></script>
</body>

</html>