<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wallets</title>
    <style>
        #walletTable th {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="inner-main">
    <!-- Inner main header -->
    <div th:fragment="inner-main-header" class="inner-main-header">
        <div class="header-container d-flex justify-content-between align-items-center w-100">
            <div class="search-wrapper d-flex align-items-center">
                <form action="#" th:action="@{/wallets}" method="get" th:object="${filterOptions}">
                    <div class="input-group input-icon input-icon-sm">
                        <div class="input-group-append">
                            <input type="text" placeholder="Holder ID" th:field="*{holderId}"
                                   class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none"/>
                        </div>
                        <div class="input-group-append">
                            <input type="text" placeholder="Greater than" th:field="*{amountGreaterThan}"
                                   class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none"/>
                        </div>
                        <div class="input-group-append">
                            <input type="text" placeholder="Less than" th:field="*{amountLessThan}"
                                   class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none"/>
                        </div>
                        <div class="input-group-append">
                            <input type="text" placeholder="Currency ID" th:field="*{currencyId}"
                                   class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none"/>
                        </div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<table id="walletTable">
    <thead>
    <tr>
        <th id="id">Id</th>
        <th id="holder">Holder</th>
        <th id="amount">Amount</th>
        <th id="currency">Currency</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wallet : ${wallets}">
        <td><a href="#" th:href="@{/wallets/{id}(id=${wallet.id})}" th:text="${wallet.id}">1</a></td>
        <td th:text="${wallet.holder.username}">Pesho</td>
        <td th:text="${#numbers.formatDecimal(wallet.amount/100.00, 0, 2, 'POINT')}">
            1.23
        </td>
        <td th:text="${wallet.currency.name}">bgn</td>
    </tr>
    </tbody>
</table>


<div>

    <a th:if="${currentPage > 0}" th:href="@{/wallets(page=${currentPage - 1})}">Previous</a>
    <a th:each="page, iterStat : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == page ? 'active' : ''}">
        <a class="page-link" th:href="@{/wallets?page=__${page - 1}__}">[[${page}]]</a>
    </a>
    <a th:if="${currentPage < totalPages - 1}" th:href="@{/wallets(page=${currentPage + 1})}">Next</a>
</div>
<script>
    window.onload = function () {
        var headers = document.getElementById("walletTable").getElementsByTagName("TH");
        var form = document.getElementsByTagName("form")[0];
        var sortByInput = document.createElement("input");
        sortByInput.type = "hidden";
        sortByInput.name = "sortBy";
        form.appendChild(sortByInput);
        var sortOrderInput = document.createElement("input");
        sortOrderInput.type = "hidden";
        sortOrderInput.name = "sortOrder";
        form.appendChild(sortOrderInput);

        var sortOrder = JSON.parse(sessionStorage.getItem("sortOrder")) || {}; // Retrieve the sort order from sessionStorage

        for (var i = 0; i < headers.length; i++) {
            headers[i].addEventListener("click", function () {
                sortByInput.value = this.id;
                sortOrder[this.id] = sortOrder[this.id] === "asc" ? "desc" : "asc"; // Toggle the sort order for the clicked column
                sortOrderInput.value = sortOrder[this.id];
                sessionStorage.setItem("sortOrder", JSON.stringify(sortOrder)); // Store the sort order in sessionStorage
                form.submit();
            });
        }
    };
</script>
</body>
</html>