<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wallt App</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/logo.jpg">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
    <style>
        #walletTable th {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="inner-main">
    <!-- Inner main header -->
    <div th:fragment="inner-main-header" class="inner-main-header">
        <div class="header-container d-flex justify-content-between align-items-center w-100">
            <div class="search-wrapper d-flex align-items-center">
                <form id="filterForm" action="#" th:action="@{__${requestURI}__}" method="get"
                      th:object="${filterOptions}">
                    <div class="input-group input-icon input-icon-sm">
                        <div class="input-group-append">
                            <input type="text" placeholder="Holder ID" th:field="*{holderId}"
                                   class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none"/>
                        </div>
                        <div class="input-group-append">
                            <input type="text" placeholder="Greater than" th:field="*{amountGreaterThan}"
                                   class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none"/>
                        </div>
                        <div class="input-group-append">
                            <input type="text" placeholder="Less than" th:field="*{amountLessThan}"
                                   class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none"/>
                        </div>
                        <div class="input-group-append">
                            <input type="text" placeholder="Currency ID" th:field="*{currencyId}"
                                   class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none"/>
                        </div>
                    </div>
                    <input type="hidden" id="pageInput" th:field="*{page}"/>
                    <div class="input-group-append">
                        <select th:field="*{sortBy}"
                                class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none">
                            <option value="">Sort By</option>
                            <option value="id">Id</option>
                            <option value="holder">Holder</option>
                            <option value="amount">Amount</option>
                            <option value="currency">Currency</option>
                        </select>
                    </div>
                    <div class="input-group-append">
                        <select th:field="*{sortOrder}"
                                class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none">
                            <option value="">Sort Order</option>
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<table id="walletTable">
    <thead>
    <tr>
        <th id="id">Id</th>
        <th id="holder">Holder</th>
        <th id="amount">Amount</th>
        <th id="currency">Currency</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wallet : ${wallets}">
        <td><a href="#" th:href="@{/wallets/{id}(id=${wallet.id})}" th:text="${wallet.id}">1</a></td>
        <td th:text="${wallet.holder.username}">Pesho</td>
        <td th:text="${wallet.amount}">
            1.23
        </td>
        <td th:text="${wallet.currency.name}">bgn</td>
    </tr>
    </tbody>
</table>


<div>
    <button th:if="${currentPage > 0}" onclick="event.preventDefault(); previousPage()">Previous</button>
    <button th:if="${currentPage < totalPages - 1}" onclick="event.preventDefault(); nextPage()">Next</button>
</div>
<script>
    // window.onload = function () {
    //     var headers = document.getElementById("walletTable").getElementsByTagName("TH");
    //     var form = document.getElementsByTagName("form")[0];
    //     var sortByInput = document.getElementById('sortByInput');
    //     var sortOrderInput = document.getElementById('sortOrderInput');
    //
    //     if (!sortByInput || !sortOrderInput) {
    //         console.error('sortByInput or sortOrderInput is missing in the HTML');
    //         return;
    //     }
    //
    //     sortOrderInput.type = "hidden";
    //     sortOrderInput.name = "sortOrder";
    //     form.appendChild(sortOrderInput);
    //
    //     for (var i = 0; i < headers.length; i++) {
    //         headers[i].addEventListener("click", function () {
    //             sortByInput.value = this.id;
    //             setCookie(this.id, getCookie(this.id) === "asc" ? "desc" : "asc", 1);
    //             sortOrderInput.value = getCookie(this.id);
    //             form.submit();
    //         });
    //     }
    // };

    function nextPage() {
        var pageInput = document.getElementById('pageInput');
        pageInput.value = parseInt(pageInput.value) + 1;
        document.getElementById('filterForm').submit();
    }

    function previousPage() {
        var pageInput = document.getElementById('pageInput');
        pageInput.value = parseInt(pageInput.value) - 1;
        document.getElementById('filterForm').submit();
    }
</script>
</body>
</html>